.App {
  font-family: sans-serif;
  text-align: center;
}
body {
  margin: 0;
  font-family: "Roboto", Arial !important;
  -webkit-font-smoothing: grayscale;
  background-color: #d5d4d4;
}
.container {
  max-width: 1080px;
  margin: 20px auto;
}
